
BODY {
	color: black;
	background: white;
}

.int {
	background: black;
	color: lightblue;
}

.float {
	background: black;
	color: cyan;
}

.string {
	background: black;
	color: lightgreen;
}

.symbol {
	background: black;
	color: purple;
}

.op {
	background: black;
	color: white;
}

