
BODY {
	color: black;
	background: white;
}

.int {
	background: black;
	color: lightblue;
}

.float {
	background: black;
	color: cyan;
}

.string {
	background: black;
	color: lightgreen;
}

.op {
	background: black;
	color: white;
	font-weight: bold;
	font-size: 123%;
}

.dot {
	background: black;
	color: red;
}

.url {
	background: black;
	color: lightblue;
	font-weight: bold;
}

.file {
	background: black;
	color: lightcyan;
	font-weight: bold;
}

.module {
	background: black;
	color: yellow;
	font-weight: bold;
}

.stdsym {
	background: black;
	color: yellow;
	font-weight: bold;
	font-style: italic;
}

.sym {
	background: black;
	color: lightcyan;
	font-weight: bold;
	font-style: normal;
}
